In [8]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [9]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [10]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [11]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [12]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
#add the Pandas dependency
import pandas as pd

In [15]:
#Create a Panda Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [16]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [50]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"}]

In [51]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter

In [58]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter"]

In [59]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [60]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school


# Print the DataFrame
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter

In [61]:
# Add the list to a new Data
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter

In [62]:
# Create a dictionary of information on high schools
high_school_dict = {'School ID': school_id, 'sChool_name':school_name, 'type':type_of_school}

In [63]:
high_school_dict

{'School ID': [0, 1, 2, 3, 4, 5],
 'sChool_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School',
  'Wilson High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter', 'Charter']}

In [64]:
#convert high school dictionary to DataFrame
high_school_dict = pd.DataFrame(school_df)
high_school_dict

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter

In [65]:
high_school_dict

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter

In [66]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [67]:
high_school_dict.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [68]:
school_df.index

RangeIndex(start=0, stop=6, step=1)

In [69]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter'],
       [5, 'Wilson High School', 'Charter']], dtype=object)